/* DEFINE PADRÃO PARA TODOS OS ELEMENTOS NÃO DEFINIDOS */
* {
    margin:  0;
}

.link-padrao {
    color: rgb(169, 215, 255);
}

#VRAUS2 /* header */ {
    background-color: rgb(57, 0, 110);
    color: aliceblue;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card {
    width: 100%;
    min-height: 100vh;
    border: 2px;
    border-radius: 30px;
    background-color: rgb(66, 136, 109);
    display: flex;
    flex-direction: column;
    color: aliceblue;
    padding: 20px 0;
    margin: 10vh;
    align-items: center;
    
}

.img-card {
    width: 200px;
    margin: 10px auto;
}

#produtos {
    background-color: rgb(154, 111, 255);
    border: 2px solid rgb(139, 228, 255);
    display: flex;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    gap: 10px;
}

#article1 {

}